.weathers__container {
    display: flex;
    margin-top: 60px;
    width: 1324px;
    justify-content: space-between;
    z-index: 1;
}

@media(min-width: 320px) and (max-width: 768px){
    .weathers__container {
        flex-wrap: wrap;
        width: 300px;
    }
}

@media(min-width: 769px) and (max-width: 1439px){
    .weathers__container  {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        margin-top: 60px;
    }
}

@media(min-width: 1440px){
    .weathers__container  {
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
        margin-top: 60px;
        justify-content: space-between;
    }
}
